<main class="container">
<div class="header">
  <h1>Color</h1>
  <%= link_to "New color",
            new_color_plate_path,
            class: "btn btn--primary", 
            data: { turbo_frame: dom_id(ColorPlate.new) } %>
</div>
<%= turbo_frame_tag ColorPlate.new %>

<%= turbo_frame_tag "color_plates" do %>
  <%= render @color_plates %>
<% end %>  
</main>


